<h3>
  <span class="text-white bg-secondary">フォロワー一覧</span>
</h3>
<!--フォロワー一覧表-->
<% if @users.exists? %>
  <%= render '/user/index', users: @users %>
<% else %>
  <p class="text-center font-weight-bold">ユーザーはいません。</p>
<% end %>  