<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h3>
        <span class="text-white bg-secondary">フォロワー一覧</span>
      </h3>
      <!--フォロワー一覧表-->
      <% if @users.exists? %>
        <%= render "users/index", users: @users %>
      <% else %>
        <p class="text-center font-weight-bold">ユーザーはいません。</p>
      <% end %>
    </div>
  </div>
</div>
