<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h4>
        <span class="text-white bg-secondary">プロフィール</span>
      </h4>
      <!--プロフィール-->
      <%= render 'profile', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      グラフ、コメントを追加する
    </div>
  </div>
</div>