<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-white bg-secondary">About</h1>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= image_tag 'PF-about.jpg', size: "450x250", alt: "about-image" %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto text-center">
      <!--説明-->
      <p>efbRateRecorderは、サッカーゲームのツールサイトです。</p>
      <p>データを入力するだけで、レート変動の推移見ることができます。</p>
      <p>ぜひご利用ください！</p>
    </div>
  </div>
</div>