// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
  background-image: image-url("PF-top.jpg");
  background-size: cover;
  max-height: 350px;
  max-width: 480px;
  margin: auto;
}

.top-title{
  color:#ffffff
}
